@font-face {
	font-family: 'Roboto';
	font-style: normal;
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');	 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(250, 250, 250);
    max-width: 1920px;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
}
  
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(166, 166, 166);
}
  
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 1024px) {

    * {
        font-size: 16px;
    }

}

nav {
    padding-right: 10px;
}
.header-nav-item {
    display: flex;
    gap: 24px;
    list-style: none;
}
.header-nav-item a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    font-size: 20px;
}
.header-nav-item {
    margin-top: 8px;
}
.header-nav-item a:hover {
    color: rgb(125, 125, 125);
}
.header-name,
.header-title,
.header-about {
    padding: 0 60px;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-name {
    font-size: 36px;
    margin-top: 8px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.header-backgrounds{
    position: relative;
}

.header-btn{
    opacity: 0;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    right: 60px;
    bottom: 60px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.121);
    width: 130px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid black;
    transition: all ease 0.5s;
    color: black;
    animation: scaleBtn 1.5s forwards;
    animation-delay: 1s;
}

.header-btn:hover{
    background-color: rgba(0, 0, 0, 0.101);
    transform: scale(1.1);
}

.header-background {
    width: 100%;
    height: 680px;
    margin-top: 10px;
    animation: scaleBackground 1.5s forwards;
    object-fit: cover;
}

.header-title {
    font-size: 36px;
    margin-top: 18px;
}

.about-icon {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin-left: 140px;
}

.header-about {
    display: flex;
    margin-top: 18px;
}

.about-name {
    font-size: 18px;
}

.header-about-text {
    margin-left: 12%;
}

.about-text2, .about-text3 {
    margin-top: 16px;
}

@keyframes scaleBackground {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleBtn {
    100% {
        opacity: 1;
    }
}

@media (max-width: 1400px) {
    .header-name, 
    .header-title {
        font-size: 28px;
    }

    .about-icon {
        width: 300px;
        height: 300px;
        margin-left: 100px;
    }

    .header-background {
        height: 480px;
    }
}

@media (max-width: 1024px) {

    .header-name,
    .header-title,
    .header-about {
        padding: 0 30px;
    }

    .header-name, 
    .header-title {
        font-size: 22px;
    }

    .about-icon {
        width: 200px;
        height: 200px;
        margin-left: 80px;
        margin-top: 40px;
    }

    .header-background {
        height: 400px;
    }

    .header-about-text {
        margin-left: 6%;
    }
    .header-btn:hover{
        background-color: rgba(255, 255, 255, 0.121);
        transform: scale(1);
    }
}

@media (max-width: 768px) {

    .header-name,
    .header-title,
    .header-about {
        padding: 0 10px;
    }

    .about-icon {
        width: 240px;
        height: 240px;
        margin-left: 80px;
        margin-top: 10px;
    }

    .header-background {
        height: 380px;
    }

    .header-about-text {
        margin-top: 30px;
        margin-left: 0%;
    }

    .header-btn{
        right: 20px;
        bottom: 20px;
        width: 120px;
    }

    .header-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 18px;
    }
    .header-nav-item {
        gap: 14px;
    }
    .header-nav-item a {
        font-size: 12px;
    }
    .header-name {
        font-size: 16px;
    }
}

.projects-title{
    font-size: 36px;
    margin: 12px 0 60px 60px;
}

.main-btn{
    opacity: 1;
    border: 1px solid rgb(207, 207, 207);
    color: rgb(207, 207, 207);
    animation: none;
}

.project-hospital-backgrounds{
    margin-top: 100px;
}
.projects-hospital-content{
    display: flex;
    margin: 0 60px;
    flex-direction: column;
    gap: 50px;
}

.main-background {
    width: 100%;
    height: 740px;
    margin-top: 10px;
    object-fit: cover;
}
.content-info-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.country-hotels-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 60px;
}
.country-hotels{
    position: relative;
    display: grid;
    grid-template-columns: 220px 1.5fr 1fr;
    gap: 20px;
}
.hospital-btn{
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    top: 50px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.121);
    width: 130px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid black;
    transition: all ease 0.5s;
    color: black;
}

.hospital-btn:hover{
    background-color: rgba(0, 0, 0, 0.101);
    transform: scale(1.1);
}

.content-info{
    margin-left: 10%;
}

.content-country p{
    font-weight: 500;
}

.Projects {
    position: relative;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
    gap: 30px;
}

.slide {
    flex: 0 0 50%;
    text-align: center;
}

.slide img {
    width: 100%;
    height: 400px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@media (max-width: 1400px) {
    .projects-title {
        font-size: 28px;
        margin: 12px 0 20px 60px;
    }
    .Projects {
        max-width: 1000px;
    }
    .slide img {
        height: 300px;
    }
}

@media (max-width: 1024px) {
    .projects-title {
        font-size: 22px;
        margin: 12px 0 20px 30px;
    }
    .Projects {
        max-width: 760px;
    }
    .slide img {
        height: 260px;
    }
}

@media (max-width: 768px) {
    .projects-title {
        margin: 12px 0 20px 10px;
    }
    .slide {
        flex: 0 0 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .slide img {
        height: auto;
    }
}

@media (min-width: 1025px) and (max-width: 1400px) {
    .main-background {
        height: 580px;
    }

    .hospital-title {
        margin-bottom: 40px;
    }

    .country-hotels{
        grid-template-columns: 120px 1.5fr 1fr;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .main-background {
        height: 480px;
    }

    .country-hotels{
        grid-template-columns: 100px 1.5fr 1fr;
    }

    .projects-hospital-content{
        margin: 0 30px;
    }

    .hospital-btn{
        width: 110px;
        height: 25px;
    }
}

@media (max-width: 768px) {
    .main-background {
        height: 400px;
    }

    .projects-hospital-content{
        margin: 0 10px;
        gap: 0;
    }
    .country-hotels{
        grid-template-columns: none;
        grid-template-rows: 50px 1fr 300px 50px ;
        gap: 0px;
        margin-bottom: 35px;
    }
    .country-hotels img{
        height: 100%;
    }
    .content-country p{
        margin: 15px 0 0 10px;
    }
    .content-country a{
        margin-top: -35px;
    }

    .hospital-btn{
        margin-left: 10px;
        grid-row: 4;
        display: flex;
        
        
        
    }
    .content-info{
        margin: 0 10px;
    }
}

@media (max-width: 1400px) {
    .country-hotels img {
        height: 240px;
    }
}

@media (max-width: 1024px) {
    .country-hotels img {
        height: 180px;
    }
    .hospital-btn:hover{
        background-color: rgba(255, 255, 255, 0.121);
        transform: scale(1);
    }
}

.footer {
    margin: 60px;
    display: flex;
    justify-content: center;
}

.location-title {
    font-size: 36px;
}

.location-img {
    margin-top: 18px;
}

.location-img-frame {
    width: 440px;
}

.madrid-link {
    margin-left: 10px;
}

.contact-container {
    margin-left: 140px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-title1 {
    font-size: 36px;
}

.contact-link {
    text-decoration: none;
    color: black;
    display: block;
    transform: scale(1);
    transition: color 0.3s ease;
    animation: linkAnimation 3s infinite;
}

.contact-link:hover {
    color: rgb(77, 77, 77);
}

@keyframes linkAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 1024px) {
    .footer {
        margin: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 1400px) {

    .location-img-frame {
        width: 280px;
    }
}

@media (max-width: 1024px) {
    .location-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .location-img-frame {
        width: 340px;
    }
}

@media (max-width: 768px) {

    .location-img {
        display: flex;
        flex-direction: column;
    }

    .madrid-link {
        margin-left: 0px;
        margin-top: 10px;
    }
}
@media (max-width: 1400px) {
    .contact-container {
        margin-left: 90px;
    }
}

@media (max-width: 1024px) {
    .contact-container {
        margin-left: 0px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-link:hover {
        color: black;
    }
}

.privacy-main {
    padding: 20px;
}

.section-title {
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 15px;
    text-align: center;
}

.compliance-text,
.data-collection-text,
.transparency-text,
.user-rights-text {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

.contact-email {
    color: #2980b9;
    text-decoration: none;
}

.contact-email:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .section-title {
        font-size: 2em;
    }

    .compliance-text,
    .data-collection-text,
    .transparency-text,
    .user-rights-text {
        padding: 15px;
        margin: 15px;
    }
}

@media (max-width: 480px) {
    .section-title {
        font-size: 1.5em;
    }

    .compliance-text,
    .data-collection-text,
    .transparency-text,
    .user-rights-text {
        padding: 10px;
        margin: 10px;
    }
}

.privacy-main a {
    color: #3498db;
    text-decoration: none;
}

.privacy-main a:hover {
    text-decoration: underline;
}


.terms-main {
    padding: 20px;
}

.legal-compliance-text,
.user-responsibilities-text,
.dispute-resolution-text,
.contact-information-text {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

.contact-email {
    color: #2980b9;
    text-decoration: none;
}

.contact-email:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .section-title {
        font-size: 2em;
    }

    .legal-compliance-text,
    .user-responsibilities-text,
    .dispute-resolution-text,
    .contact-information-text {
        padding: 15px;
        margin: 15px;
    }
}

@media (max-width: 480px) {
    .section-title {
        font-size: 1.5em;
    }

    .legal-compliance-text,
    .user-responsibilities-text,
    .dispute-resolution-text,
    .contact-information-text {
        padding: 10px;
        margin: 10px;
    }
}

.footer-dop {
    justify-content: center;
}

.partnership-offer {
    max-width: 1100px; /* Maximum width of the section */
    margin: 20px auto; /* Center the section */
    padding: 20px; /* Inner padding */
    font-family: Arial, sans-serif; /* Font style */
}

.partnership-offer h1 {
    text-align: center;
    font-size: 2em; /* Title size */
    color: #333; /* Title color */
    margin-bottom: 15px; /* Bottom margin */
}

.partnership-offer p {
    font-size: 1.1em; /* Text size */
    line-height: 1.6; /* Line height */
    color: #555; /* Text color */
    margin-bottom: 15px; /* Bottom margin */
}

/* Responsive styles */
@media (max-width: 600px) {
    .partnership-offer {
        padding: 15px; /* Decrease padding on small screens */
    }

    .partnership-offer h2 {
        font-size: 1.5em; /* Decrease title size */
    }

    .partnership-offer p {
        font-size: 1em; /* Decrease text size */
    }
}

.form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}


.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}


.form textarea {
    resize: vertical;
}


.checkbox {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.checkbox input[type="checkbox"] {
    margin-right: 10px;
}


.form button {
    background-color: #2980b9;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.form button:hover {
    background-color: #1a6a8d;
}

.collaboration-message {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}

.collaboration-message h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 32px;
}

.collaboration-message p {
    color: #555;
    font-size: 16px;
}
@media (max-width: 768px) {
    .collaboration-message {
        padding: 15px;
    }

    .collaboration-message h2 {
        font-size: 1.3em;
    }

    .collaboration-message p {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .collaboration-message {
        padding: 10px;
    }

    .collaboration-message h2 {
        font-size: 1.2em;
    }

    .collaboration-message p {
        font-size: 0.8em;
    }
}

@media (max-width: 768px) {
    .form {
        padding: 15px;
    }

    .form input[type="text"],
    .form input[type="email"],
    .form textarea,
    .form button {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .form {
        padding: 10px;
    }

    .form input[type="text"],
    .form input[type="email"],
    .form textarea,
    .form button {
        font-size: 0.8em;
    }
}

.reviews-section-title {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 15px;
}
.slider {
    margin-top: 15px;
      display: flex;
      gap: 15px;
  
      transition: transform 0.5s ease-in-out;
  }
  .review {
      min-width: 45%;
      width: 100px;
      background: #fff;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .author {
      font-weight: bold;
      color: #7c94a1;
      margin-top: 10px;
  }
  .buttons {
      margin-top: 20px;
      display: flex;
      justify-content: center;
  }
  .btn {
        min-width: 100px;
        padding: 10px;
        margin: 5px;
        border: 1px solid black;
        background-color: #0077b6;
        color: black;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        background-color: transparent;
  }
  
  @media (min-width: 1025px) {
      .btn:hover {
          transform: scale(1.05);
      }
  }

  .review img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-section {
    text-align: center;
    padding: 20px;
    margin-bottom: 60px;
}

.team-section h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.team-member {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}

.team-member h3 {
    font-weight: 600;
}

.team-member img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .team-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .team-grid {
        grid-template-columns: 1fr;
    }
}

/* Pricing Section Styles */
.pricing-section {
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
}

.pricing-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.pricing-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Space between cards */
}

.pricing-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px; /* Fixed width for cards */
    transition: transform 0.3s, box-shadow 0.3s;
}

.pricing-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.offer-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ff5722;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.offer-btn:hover {
    background-color: #e64a19; /* Darker shade on hover */
}

/* Optional: Responsive adjustments */
@media (max-width: 768px) {
    .pricing-content {
        flex-direction: column;
        align-items: center; /* Center cards on smaller screens */
    }

    .pricing-card {
        width: 90%; /* Make cards full width on smaller screens */
    }
}

.header-backgrounds {
    position: relative;
    text-align: center; /* Center align text */
}

.header-background {
    width: 100%; /* Full width */
    height: auto; /* Automatic height */
}

.header-title-overlay {
    position: absolute; /* Absolute positioning */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Shift by half width and height */
    color: white; /* Text color */
    font-size: 2.5rem; /* Font size */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow */
    opacity: 0; /* Initial opacity */
    animation: fadeIn 1s forwards; /* Fade-in animation */
}

@keyframes fadeIn {
    to {
        opacity: 1; /* Final opacity */
    }
}

.project-hospital-backgrounds {
    position: relative;
    text-align: center; /* Center the text */
}

.main-background {
    width: 100%; /* Take full width of the container */
    height: auto; /* Automatic height */
}

.header-title-overlay {
    position: absolute; /* Absolute positioning */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Shift by half width and height */
    color: white; /* Text color */
    font-size: 2.5rem; /* Font size */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow for readability */
    opacity: 0; /* Initial opacity */
    animation: fadeIn 1s forwards; /* Fade-in animation */
}

@keyframes fadeIn {
    to {
        opacity: 1; /* Final opacity */
    }
}